* {
  margin: 0;
}

body {
  background-color: #4f4a45;
  color: #f6f1ee;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Roboto Mono", monospace;
}

.navLinks {
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
  height: 50%;
  margin: 10px;
  text-align: center;
  font-size: 12x;
  display: inline;
}

.caroselloFilm {
  & img {
    margin-top: 20px;
    /*Ho provato una nesting rule*/
    width: 250px;
    height: 350px;
    object-fit: cover;
  }
}

#logo {
  width: 120px;
  position: absolute;
  padding-left: 5%;
  padding-top: 15px;
  user-select: none;
}

.oggialcinema {
  margin-top: 20%;
  text-align: center;
}

#mainh1 {
  margin-top: 20px;
}

nav {
  display: flex;
  width: -50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /*border: red solid 5px;  DEBUG VISIVO */
}

hr {
  background-color: #ed7d31;
  height: 50%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f6f1ee;
}

#logbutton {
  background-color: #ed7d31;
  border: none;
  color: #f6f1ee;
  padding: 10px 20px;
  margin-left: 30px;
  cursor: pointer;
  border-radius: 60px;
}

a:hover {
  color: #e79769;
}

.headerBackground {
  background-color: #6c5f5b;
  height: 75px;
  border-bottom: 5px solid #ed7d31;
}
