// Variablili Colore
$main-color: #0c356a;
$secondary-color: #0174be;
$main-complementary: #ffc436;
$main-text: #fff0ce;
$highlight-text: #00a9ff;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&family=Poppins&family=Roboto+Mono&display=swap");

$font-main: "Poppins", sans-serif;

// Mixin
@mixin btn {
}
